* {/* ページの余白を消す */
    margin: 0;
    padding: 0;
}

/* headerのstyle始まり */
.header{/* headerの背景と文字 */
    background-color: rgb(108, 206, 9);
    color: blanchedalmond;
}

.button-flex{/* headerのボタン等のflex */
    display: flex;
    justify-content: space-between;
}

.title {/* タイトルのフォント、flex */
    font-size: 30px;
    display: flex;
    font-weight: 700;
    margin-left: 150px;
}

.button{
    width: 20px;
    height: 25px;
}

.keyward{/* キーワードの中の文字を大きくしたい */
}

.yoko{/* コメントと入力フォームをflexする */
    display: flex;
    padding: 50px 32px 32px;
}

.comment{/* headerを左右半分に分ける */
    width: 70%;
}
.comment-title{/* commentの題名部分を中央揃えにする */
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
}
.comment-margin{/* commentの文章を中央揃えにする等 */
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-right: 30px;
    font-size: 20px;
}
.login-waku{/* 入力フォーム部分の大きさを定義する */
    width: 30%;
}
.login{
/* 入力フォーム部分を中央揃えにする */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.button-flex2{/* SNSのボタンを横並びにする */
    display: flex;
    justify-content: space-between;
}
.github{
    width: 60px;
    height: 30px;
}
.twitter{
    width: 60px;
    height: 30px;
}
.google{
    width: 60px;
    height: 30px;
}

/* 入力項目 */
.user-input{/* ユーザー名のデザイン */
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.user-abs{/* ユーザー名のデザインを調整する */
    position: absolute;
    left: -90px;
}
.mail-input{/* メールアドレスのデザイン */
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.mail-abs{/* メールアドレスのデザインを調整する */
    position: absolute;
    left: -120px;
}
.pass-input{/* パスワードのデザイン */
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.pass-abs{/* パスワードのデザインを調整する */
    position: absolute;
    left: -90px;
}

.center{/* ORの文字を中央揃えにする */
    text-align: center;
}

.input{/* 入力フォームの大きさ */
    width: 100%;
}

.button{/* 不明な設定　改名後消去または修正 */
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px;
    color:black;
}

.signup{
    width: 60px;
    height: 30px;
}

/* mainのstyle始まり */
.trend{
    background-color: chartreuse;
    color:black;
}
.trend:hover{
    background-color: darkgray;
}

.hover{
    color: black;
}
.hover:hover{
    background-color: gray;
}

/* footerのstyle始まり */

.footer{
    background-color: black;
    color: blanchedalmond;
}
