<!DOCTYPE html>

<html>
    <head>
        <title>Qiita</title>
        <link rel="stylesheet" href="./qiita-sample.css">
    </head>
    <body>
        <header class="head">
            <div class="title">
                <h1>Qiita</h1>
                <button class="button">▽</button>
            </div>
            <div class="search">
                <form action="#" method="post">
                    <p>キーワード検索
                    <input type="text" name="serch"></p>
                </form>
                <button class="button2">ログイン</button>
            </div>
            <div class="login">
                <button class="github">github</button>
                <br>
                <button class="twitter">Twiiter</button>
                <br>
                <button class="google">Google</button>
                <p>or</p>
                <form action="#" method="post">
                    <p>ユーザー名
                    <input type="text" name="username"></p>
                    <p>メールアドレス
                    <input type="text" name="mailadress"></p>
                    <p>パスワード
                    <input type="text" name="passward"></p>
                </form>
                <label>
                    <input type="checkbox" name="agreement" value=1>
                    利用規約に同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="privacy">
                    プライバシーポリシーに同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="nonrobot">
                    私はロボットではありません
                </label>
                <br>
                <button class="signup">登録</button>
            </div>
            <div class="comment">
                <h2>How developers code is here.</h2>
                <p>Qiitaは、エンジニアリングに関する機能を記録・共有するためのサービスです。</p>
                <p>コードを書いていて気づいたことや、自分がハマったあの仕様についてハマったあの仕様について、他のエンジニアと知見を共有しましょう。</p>
            </div>
        </header>

        <main>
            <div>
                <p>記事フィード</p>
                <button class="trend">トレンド</button>
            </div>
            <div>
                <p>質問フィード</p>
                <button>トレンド</button>
                <button>回答募集中</button>
                <button>新着</button>
            </div>
            <div>
                <p>トレンド</p>
                <p>最近の記事を毎日5時/17時に更新</p>
                <p>全て</p>
                <p>タグ</p>
            </div>
            <div>
                <p>@shinkai_が2021年4月26日に投稿</p>
                <p>(新人教育)新人エンジニアに意識して欲しい15のこと</p>
                <p>初心者,新人教育,スキルアップ,新人プログラマ応援</p>
            </div>
            <div>
                <p>@KLaboratoryが2021年4月25日に投稿</p>
                <p>Visual Studio Codeの穴場拡張機能</p>
                <p>VSCode,VisualStudioCode</p>
            </div>
            <div>
                <p>アルゴリズム・AtCoderのための数学(後編：数学的考察編)</p>
                <p>webサイトデザインを簡単に改善する、イタリア人デザイナーの秘訣10選</p>
                <p>UX,UI,Design,デザイン,翻訳</p>
            </div>
            <div>
                <p>@Misato0122が2021年4月26日に投稿</p>
                <p>(個人開発)ポモドーロテクニックとTodoリストを組み合わせた時間管理アプリを作りました</p>
                <p>Ruby,Rails,ポートフォリオ</p>
            </div>
            <div>
                <p>@rana_kualuが2021年4月26日に投稿</p>
                <p>Google Chromeが勧める広告技術FLoCのまとめ</p>
                <p>Chorme,google,cookie,広告,FLoC</p>
            </div>
            <div>
                <p>miizuunooが2021年4月26日に投稿</p>
                <p>GASでPageSpeed Insights　APIを使い定期的にSpeedIndexを測定</p>
                <p>gas,spreadsheet,SEO,PageSpeedInsights</p>
            </div>
            <div>
                <p>@kazama1209が2021年04月28日</p>
                <p>Next.js*TypeScript*microCMSでシンプルなコーポレートサイトを作ってみる</p>
                <p>TypeScript,React,material-ul,next.js,microCMS</p>
            </div>
            <div>
                <p>@a_jikeが2021年04月28日に投稿</p>
                <p>Proxyanを使う!</p>
                <p>iOS,debug,Web,Charies,Proxyman</p>
            </div>
            <div>
                <p>@standard-softwareが4月26日に投稿</p>
                <p>JavaScript 環境ならどこでも使えそうな短いコードの日付書式出力関数。コピペ用。</p>
                <p>JavaScript</p>
            </div>
        </main>

        <footer class="footer">
            <div class="foot">
                <h1>Qiita</h1>
                <p>How developers code is here.</p>
            </div>
            <div class="about">
                <p>About</p>
                <p>利用規約</p>
                <p>プライバシー</p>
                <p>ガイドライン</p>
                <p>デザインガイドライン</p>
            </div>
            <div class="release">
                <p>リリース</p>
                <p>API</p>
                <p>ご意見</p>
                <p>ヘルプ</p>
                <p>広告掲載</p>
            </div>
            <div class="Increments">
                <p>About</p>
                <p>採用情報</p>
                <p>ブログ</p>
            </div>
            <div class="qiita-other">
                <p>Qiita Team</p>
                <p>Qiita Jobs</p>
                <p>Qiita Zine</p>
            </div>
        </footer>
    </body>



</html>