/* headerのstyle始まり */
.head{
    background-color: chartreuse;
    color: blanchedalmond;
}

.yoko{
    flex-direction: row;
}
.tate{
    flex-direction: column;
    width: 40%;
    margin: 0% 10%;
}


.title {
    font-size: 20px;
    display: flex;
    font-weight: 700;
}


.button{
    font-size: 15px;
    font-weight: 700;
    margin: 25px 0px;
    color:black;
}
/* headerのstyle終わり */

/* mainのstyle始まり */
.trend{
    background-color: chartreuse;
    color:black;
}
.trend:hover{
    background-color: darkgray;
}

.hover{
    color: black;
}
.hover:hover{
    background-color: gray;
}
/* mainのstyle終わり */

/* footerのstyle始まり */

.footer{
    background-color: black;
    color: blanchedalmond;
}

/* footerのstyle終わり */