<!DOCTYPE html>

<html>
    <head>
        <title>Qiita</title>
        <link rel="stylesheet" href="./qiita-sample.css">
    </head>
    <body>
        <header class="head">
            <div class="title">
                <h1>Qiita</h1>
                <button class="button">▽</button>
            </div>
            <div class="search">
                <form action="#" method="post">
                    <p>キーワード検索
                    <input type="text" name="serch"></p>
                </form>
                <button class="button2">ログイン</button>
            </div>
            <div class="login">
                <button class="github">github</button>
                <br>
                <button class="twitter">Twiiter</button>
                <br>
                <button class="google">Google</button>
                <p>or</p>
                <form action="#" method="post">
                    <p>ユーザー名
                    <input type="text" name="username"></p>
                    <p>メールアドレス
                    <input type="text" name="mailadress"></p>
                    <p>パスワード
                    <input type="text" name="passward"></p>
                </form>
                <label>
                    <input type="checkbox" name="agreement" value=1>
                    利用規約に同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="privacy">
                    プライバシーポリシーに同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="nonrobot">
                    私はロボットではありません
                </label>
                <br>
                <button class="signup">登録</button>
            </div>
            <div class="comment">
                <h2>How developers code is here.</h2>
                <p>Qiitaは、エンジニアリングに関する機能を記録・共有するためのサービスです。</p>
                <p>コードを書いていて気づいたことや、自分がハマったあの仕様についてハマったあの仕様について、他のエンジニアと知見を共有しましょう。</p>
            </div>
        </header>

        <main>

        </main>

        <footer class="footer">
            <div class="foot">
                <h1>Qiita</h1>
                <p>How developers code is here.</p>
            </div>
            <div class="about">
                <p>About</p>
                <p>利用規約</p>
                <p>プライバシー</p>
                <p>ガイドライン</p>
                <p>デザインガイドライン</p>
            </div>
            <div class="release">
                <p>リリース</p>
                <p>API</p>
                <p>ご意見</p>
                <p>ヘルプ</p>
                <p>広告掲載</p>
            </div>
            <div class="Increments">
                <p>About</p>
                <p>採用情報</p>
                <p>ブログ</p>
            </div>
            <div class="qiita-other">
                <p>Qiita Team</p>
                <p>Qiita Jobs</p>
                <p>Qiita Zine</p>
            </div>
        </footer>
    </body>



</html>