<!DOCTYPE html>
<!-- header main footer -->
<html>
    <head>
        <title>Qiita</title>
        <link rel="stylesheet" href="./qiita-sample.css">
    </head>
    <body>
        <header>
            <div class="title">
                <h1>Qiita</h1>
                <button class="button">▽</button>
            </div>
            <div class="search">
                <form class="keyword">キーワードを検索</form>
                <button class="button2">ログイン</button>
            </div>
            <div class="login">
                <button class="github">github</button>
                <br>
                <button class="twitter">Twiiter</button>
                <br>
                <button class="google">Google</button>
                <p>or</p>
                <form class=username>ユーザー名</form>
                <form class=mailadress>メールアドレス</form>
                <form class=passward>>パスワード</form>
                <label>
                    <input type="checkbox" name="agreement" value=1>
                    利用規約に同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="privacy">
                    プライバシーポリシーに同意する
                </label>
                <br>
                <label>
                    <input type="checkbox" name="nonrobot">
                    私はロボットではありません
                </label>
                <br>
                <button class="signup">登録</button>
                <h2>How developers code is here.</h2>
                <p>Qiitaは、エンジニアリングに関する機能を記録・共有するためのサービスです。</p>
                <p>コードを書いていて気づいたことや、自分がハマったあの仕様についてハマったあの仕様について、他のエンジニアと知見を共有しましょう。</p>

            </div>
        </header>
    </body>



</html>