* {
    margin: 0;
    padding: 0;
}

/* headerのstyle始まり */
.head{
    background-color: chartreuse;
    color: blanchedalmond;
}

.button-flex{
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    display: flex;
    font-weight: 700;
}

.yoko{
    display: flex;
}

.comment{
    width: 70%;
}
.login{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

/* 入力項目 */
.user-input{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.user-abs{
    position: absolute;
    left: -90px;
}
.mail-input{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.mail-abs{
    position: absolute;
    left: -120px;
}
.pass-input{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.pass-abs{
    position: absolute;
    left: -90px;
}
.input{
    width: 100%;
}

.center{
    text-align: center;
}

.button{
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px;
    color:black;
}
/* headerのstyle終わり */

/* mainのstyle始まり */
.trend{
    background-color: chartreuse;
    color:black;
}
.trend:hover{
    background-color: darkgray;
}

.hover{
    color: black;
}
.hover:hover{
    background-color: gray;
}
/* mainのstyle終わり */

/* footerのstyle始まり */

.footer{
    background-color: black;
    color: blanchedalmond;
}

/* footerのstyle終わり */