<!--自作-->
<!DOCTYPE html>
<!--HTMLは最初に宣言を書く　左記は決まり文句-->
<html>
<!--htmlタグで挟されている間がHTMLコード-->
    <head>
    <!--そのウェブの情報や設定を書く　head内のコードは基本的に画面表示されない　ex) フォントの設定、検索エンジンなどを検索エンジンなどを理解するための情報、CSSファイルの読み込み設定-->
        <title>サルワカ</title>
        <!--ページ名としてブラウザのタブに表示される　検索エンジンをに表示されるページのタイトルもtitleタブの中が使われる-->
        <!-- <meta charset="UTF=8"></meta> -->
    </head>
    <body className={styles.root}>
    <!--ウェブ内に表示されるのは<body>内のものだけ　bodyタグは一度しか使えない-->
        <h1 class="midashi">０からwebデザインを勉強する</h1>
        <!--見出しを作る　h1~h6まで存在し、数が小さい程文字が大きい-->
        <!--id,classタグは英数字のみ可能、先頭に数字は使用不可能-->
        <!--idは同じ文書内で複数使用不可、classは複数使用可-->
        <p>まずはHTMLについて勉強する</p>
        <!--最も良く使われるタブ　何回でも使える　pタブの間に文章を書く-->
        <a href="http://saruwakakun.com/">サルワカへジャンプ</a>
        <!--リンクを作る　aタブの中にhref="リンク先のURL"-->
        <ul>
        <!--ul,ol,liタブで箇条書きを作る-->
          <li>一つ目の項目</li>
          <li>二つ目の項目</li>
          <li>三つ目の項目</li>
        </ul>
        <ol>
        <!--ulの代わりにolを使うと箇条書きのポッチが番号になる-->
          <li>一つ目の項目</li>
          <li>二つ目の項目</li>
          <li>三つ目の項目</li>
        </ol>
        <p>ここで<br>改行します</p>
        <!--brタブで改行する　コード内のエンターによる改行は反映されない-->
        <div class="one">
          <p>おはよう</p>
          <p>こんにちは</p>
        </div>
        <div class="two">
          <p>こんばんわ</p>
          <p>おやすみ</p>
        </div>
        <!--divだと改行が入る、spanは改行が入らない　spanは文章の一部だけデザインを変えられる-->
    </body>
</html>


<img src="cat.jpg"></img>
<!--画像を貼るために使う　終了タグは使わない　貼れるのはJPG/PNG/GIF形式の画像だけ-->

<!--お手本-->
<!DOCTYPE html>
<html>
<head>
  <title>サルワカ</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>ゼロからウェブデザインを勉強しよう！</h1>
  <p>まずはHTMLについて学びましょう</p>
</body>
</html>

